<div class="d-flex sidebar justify-content-start">

    <div class="d-flex flex-column bg-light sidebar-content" style="width: 4.5rem;">
      <img class=" p-3 link-dark text-decoration-none" src="../../../assets/img/logo.png">
      <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <!-- BUTTONS -->
        <li class="nav-item">
          <a  [ngClass]="{'nav-link active py-3 border-bottom': true}">
            <i class="bi bi-house-door"></i>
          </a>
        </li>
  
        <li class="nav-item">
          <a  [ngClass]="{'nav-link py-3 border-bottom': true}">
            <i class="bi bi-wallet"></i>
          </a>
        </li>
  
        <li class="nav-item">
          <a  [ngClass]="{'nav-link py-3 border-bottom': true}">
            <i class="bi bi-file-earmark-plus"></i>
          </a>
        </li>
          <!-- BUTTONS -->
      </ul>
    </div>
  </div>