@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons';


body { 
    margin: 0; 
    background-color: var(--body);
    color: var(--text-body);
  }

:root {
    --primary: #9c27b0;
    --white: #f0f8ff;
    --body: #333333;
    --text-body: #ffff;
    --text-button: white;
  }